.btn {
  font: inherit;
  color: #212121;
  background-color: gray;
  border: none;
  margin: 0 4px;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.primary {
  color: #fff;
  background-color: #008dd5;
}

.primary:hover {
  background-color: #005f8f;
}

.secondary {
  color: #fff;
  background-color: #f56476;
}

.secondary:hover {
  background-color: #f22c43;
}
