body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #212121;
  background-color: #fafafa;
}

img {
  display: block;
  max-width: 100%;
}
